/* :root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
/* } */

@font-face {
  font-family: halvetica;
  src: url(public/Helvetica.ttf);
}


*{
  margin: 0;
  padding: 0;
}


body {
  font-family: halvetica;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #1C3252;  
  min-height: 200rem;
  max-width: 100%;
}


header{
  top: 0;
  position: sticky;
  display: flex;
  align-items: center; 
  background-color: #F3F6FA;
  min-height: 5vw;
  min-width: 100%;
  transition: 0.3s;
  

}

.navtop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  margin-right: auto;
  font-weight: 700;
}


.ul1{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navtop ul li {
  list-style-type: none;
  list-style: none;
    display: inline-block;
    padding: 0 1vw;
    font-size: clamp(1vw, 1.2vw , 2vw);
}

a{
  text-decoration: none;
  transition: all 0.3s ease 0s;
  color:   rgb(28, 50, 82);
}

header a:hover {
  color: rgb(45, 195, 2);
}



.sticky {
  background-color: rgb(255, 255, 255);
  top: 0;
  min-width: 100%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px -3px;
}

.home-container{
  min-height: 50rem;
  background-color: #F3F6FA;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.home-container-child{
  min-height: 50rem;
  max-width: 80rem;
}

.home-container .home-container-child .hello-message{
  min-height: 25rem;
 display: grid;
    height: clamp(0px , 25rem ,2000px);
    place-items: center;
}

.home-container-child li{
  margin-top: 2vw;
}

.home-container .home-container-child .hello-image{
  background-color: rgb(78, 22, 127);
    height: clamp(0px , 25rem ,2000px);
}

.text-div{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 2.5vw;
  text-align: center;
}

.text-div1{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 0.8vw;
}

.text-div2{
  text-align: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.but1{
  cursor: pointer;
  background-color: #40C000;
  flex-wrap: wrap;
  border: none;
  color: white;
  padding: 1vw 4vw;
  text-align: center;
  text-decoration: none;
  font-size: 1vw;
  border-radius: 3px;
  margin-right: 2vw;
  font-weight: 800;
  transition: 0.3s;
}

.but{
  cursor: pointer;
  flex-wrap: wrap;
  padding: 1vw 2vw;
  text-align: center;
  text-decoration: none;
  font-size: 1vw;
  border-radius: 3px;
  background-color: transparent;
  color: #40C000;
  border:  1px solid  #40C000;
  font-weight: 800;
  transition: 0.3s;
}

.but:hover{
  background-color: #40C000;
  color: white;
}

.logo embed{
  width: 2vw;
}

.but2{
  cursor: pointer;
  padding: 1vw 4vw;
  text-align: center;
  text-decoration: none;
  font-size: 1vw;
  border-radius: 3px;
  background-color: transparent;
  color: #6C6BFB;
  border:  1px solid  #6C6BFB;
  font-weight: 800;
  transition: 0.3s;
  
}
.but2:hover{
  
  background-color: #6C6BFB;
  color: white;
}
.but1:hover{
  background-color: #32d804;
  color: white;
}

.barati{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.5vw;
  flex-wrap: wrap;
  color: grey;
}

embed{
  width: 1vw;
}
